movie.wiggle.full_system.Friction_ON.pressure_0.1.freq_1.amp_0.001.gif
movie.wiggle.full_system.Friction_ON.pressure_0.1.freq_1.amp_0.001.gif
movie.wiggle.full_system.Friction_ON.pressure_0.1.freq_1.amp_0.001.gif
